<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/usuarios">Usuario</a>
            <a href="/carrito">Carrito</a>
        </nav>
    </header>
    <main>
        <section class="products">
            <%carrito.forEach(carrito=>{%>
                <div>
                    <article>
                        <h2><td><%=carrito.id%></td></h2>
                        <p><%=carrito.date%></p>
                        <p><%=carrito.products%></p>
                        <p><%=carrito.productid%></p>
                        <p><%=carrito.quantity%></p>
                    </article>
                </div>
                <%})%>
        </section>
    </main>
</body>
</html>