<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/usuarios">Usuario</a>
            <a href="/carrito">Carrito</a>
            <a href="/categorias">Categorías</a>
        </nav>
    </header>
    <h1>Productos</h1>
    <main>
        <section class="products">
            <%productos.forEach(producto=>{%>
                <div>
                    <article>
                        <h2><td><%=producto.title%></td></h2>
                        <p><td><%=producto.description%></td></p>
                        <p><%=producto.price%></p>
                        <p><%=producto.category%></p>
                        <p><%=producto.image%></p>
                    </article>
                </div>
                <%})%>
        </section>
    </main>
</body>
</html>