<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/usuarios">Usuario</a>
            <a href="/carrito">Carrito</a>
        </nav>
    </header>
    <main>
        <section class="products">
            <%usuarios.forEach(usuario=>{%>
                <div>
                    <article>
                        <h2><td><%=usuario.email%></td></h2>
                        <p><td><%=usuario.username%></td></p>
                        <p><%=usuario.name.firstname%></p>
                        <p><%=usuario.name.lastname%></p>
                        <p><%=usuario.address.street%></p>
                        <p><%=usuario.address.city%></p>
                        <p><%=usuario.address.zipcode%></p>
                        <p><%=usuario.phone%></p>
                    </article>
                </div>
                <%})%>
        </section>
    </main>
</body>
</html>